.drawing {
  position: relative;
}

.part1 {
  height: 50px;
  width: 10px;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}

.part2 {
  height: 400px;
  width: 10px;
  background: black;
  margin-left: 120px;
}

.part3 {
  height: 10px;
  width: 250px;
  background: black;
}
